@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --first-color: #000000;
    --second-color: #F6F6F6;
    --third-color:  #922192;
    --fourth-color: #af0daf;

    --first-font: 'Krona One', sans-serif;
    --second-font: 'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}

body{   
    box-sizing: border-box;
    background-color: var(--first-color);
    color: var(--second-color);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 40px;
}

.header__menu__link{
    font-size: 1.5rem;
    font-family: var(--second-font);
    font-weight: 600;
    color: var(--fourth-color);
    text-decoration: none;  
}

.titulo-destaque{
    color: var(--fourth-color);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--first-font);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--second-font);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px inset var(--third-color);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--second-color);
    font-family: var(--second-font);
}

.apresentacao__links__subtitulo{
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link:hover{
    background-color: #272727;
}

.apresentacao__imagem {
    width: 50%;
}

.footer{
    text-align: center;
    padding: 24px;
    font-size: 30px;
    color: #000000;
    background-color: #c232c2;
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}